body {
    font-family: 'Raleway', sans-serif, 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.page-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.page-logo-second {
    color: #2E2F42;
}

.page-address {
    font-style: normal;
}

.page-nav {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.page-nav:hover,
.page-nav:focus {
    color: #404bbf;
}

.address-item {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.address-item:hover,
.address-item:focus {
    color: #404bbf;
}

.first-section {
    background: #2E2F42;
    text-align: center;
}

.section-h-hero {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.section-button {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background: #4D5AE5;
    cursor: pointer;
}

.section-button:hover,
.section-button:focus {
    background-color: #404BBF;
}

.section-h-two {
    color: #2E2F42;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.ul-h-three {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.ul-p {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.third-section {
    background: #F4F4FD;
}

.h-tree-li {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.item-list {
    background-color: #FFFFFF;
}

.list-description {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.a-span-footer {
    color: #F4F4FD;
}

.footer-p {
    color: #F4F4FD;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.head-footer {
    background: #2E2F42;
}