body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

p{
    padding: 0;
}

.header-setup{
    border-bottom: 1px solid #e7e9fc;
}

.nav-setup{
    display: flex;
    align-items: center;
}

.header-container{
        display: flex;
            justify-content: space-between;
   
}

.container{
width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.a-studio {
    display: flex;
    align-items: center;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.a-span {
    color: #2E2F42;

}

.body-address {
    font-style: normal;
 
}

.adress-list{
display: flex;
    column-gap: 40px;
}

.nav-list{
    display: flex;
        gap: 40px
}

.nav-page {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 24px 0;
   
}

.nav-page:hover,
.nav-page:focus {
    color: #404bbf;
}


.a-address {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.a-address:hover,
.a-address:focus {
    color: #404bbf;
}

.first-section {
    background: #2E2F42;
    text-align: center;
    padding: 188px 0;
}

.section-h-hero {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;
       
}

.section-button {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background: #4D5AE5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
}

.section-button:hover,
.section-button:focus {
    background-color: #404BBF;
}

.second-section {
    padding: 120px 0;
}

.section-h-two {
    color: #2E2F42;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.adventages-list {
    display: flex;
    gap: 24px;
}

.ul-h-three {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.adventages-item {
    width: calc((100% - 72px)/ 4);
}
.ul-p {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.third-section {
    background: #F4F4FD;
    padding: 120px 0
}

.section-h-three{
    margin-bottom: 72px;
    text-align: center;
}

.our-team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.h-tree-li {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 8px;
    padding-bottom: 3px;;
}

.image-setup{
    display: block;
}

.item-list {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;

}

.list-description {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
}

.decription-container{
    padding: 32px 0;
}

.fourth-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.fourth-section-h-two{
    margin-bottom: 72px;
    text-align: center;
}

.skills-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.skills-item{
width: calc((100% - 48px) / 3);
}

.skills-container{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.h-tree-skills{
margin-bottom: 8px;
text-align: center;
}

.head-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.a-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.a-span-footer {
    color: #f4f4fd;
}

.footer-p {
    color: #f4f4fd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px
}