body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}

h1,h2,h3,h4,h5,h6,p {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

button {
    cursor: pointer;
}

ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    margin: 0;
}

img {
    display: block;
}

address {
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}


.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    width: 1158px;
    padding-left: 156px;
    padding-right: 156px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-header {
    border-bottom: 1px solid #e7e9fc
}

.page-div {
    display: flex;
    justify-content: space-between;
}

.nav-header {
    display: flex;
    align-items: center;
    padding: 24px 0;
}

.header-ul {
    display: flex;
    gap: 40px;
}

.a-studio {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}

.a-span {
    color: #2E2F42;
}

.nav-page {
    color: #2E2F42;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 24px 0;
}

.nav-page:hover,
.nav-page:focus {
    color: #404bbf;
}

.a-address {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.a-address:hover,
.a-address:focus {
    color: #404bbf;
}

.section-one {
    background: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-div {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

.section-h-hero {
    max-width: 496px;
    color:  #FFFFFF;
    font-family:'Roboto', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    width: 496px;
    margin-bottom: 48px;
    text-align: center;
}

.section-button {
    min-width: 169px;
    color: #FFFFFF;
    height: 56px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background: #4D5AE5;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}


.section-button:hover,
.section-button:focus {
    background-color: #404BBF;
}

.section-h-two {
    color:  #2E2F42;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-two-ul {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.section-two-li {
    width: calc((100% - 72px) / 4);
}

.section-four-li {
    width: calc((100% - 48px) / 3);
    background: #FFF;
}

.img-pers {
    width: 100%;
}

.ul-h-tree {
    color: #2E2F42;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.ul-p {
    color:#434455;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
}

.section-tree-divs {
    padding: 32px 0;
}

.section-four-divs {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.section-tree {
    background: #F4F4FD;
}

.section-four-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px 24px;
}

.h-tree-li {
    color:  #2E2F42;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.h-four-li {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px
}

.ul-li {
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    text-align: center;
}

.p-li {
    color:  #434455;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 32px;
}

.p-four-li {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.footer-a-studio {
    display: inline-block;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;   
    margin-bottom: 16px;
}

.a-span-footer {
    color: #F4F4FD;
}

.footer-p {
    color: #F4F4FD;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
}

.head-footer {
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}
