body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header-setup{
    border-bottom: 1px solid #e7e9fc;
}

.nav-setup{
    display: flex;
    align-items: center;
}

.header-container{
        display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;

}

.a-studio {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.a-span {
    color: #2E2F42;
    margin-right: 76px
}

.body-address {
    font-style: normal;
    display: flex;
    gap: 40px;
}

.nav-list{
    display: flex;
        gap: 40px
}

.nav-page {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 24px 0;
   
}

.nav-page:hover,
.nav-page:focus {
    color: #404bbf;
}


.a-address {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.a-address:hover,
.a-address:focus {
    color: #404bbf;
}

.first-section {
    background: #2E2F42;
    text-align: center;
}

.section-h-hero {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.section-button {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background: #4D5AE5;
    cursor: pointer;
}

.section-button:hover,
.section-button:focus {
    background-color: #404BBF;
}

.section-h-two {
    color: #2E2F42;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.ul-h-three {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.ul-p {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.third-section {
    background: #F4F4FD;
}

.h-tree-li {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.image-setup{
    display: block;
}

.item-list {
    background-color: #FFFFFF;
}

.list-description {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.head-footer {
    background-color: #2e2f42;
}

.a-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.a-span-footer {
    color: #f4f4fd;
}

.footer-p {
    color: #f4f4fd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}